.bookmark-container {
  position: sticky;
  top: 10px;
}

.time-container {
  width: 100%;
  background: rgba(96, 71, 236, 0.1);
  border: 1px solid #6047ec;
  border-radius: 8px;
  margin-bottom: 25px;
}

.time-container h4 {
  color: #6047ec;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}

.blog-title-container {
  background: rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  width: 100%;
  padding: 30px;
}

/* .scrollbar {
  width: 100%;
  overflow-y: scroll;
  padding: 0 10px;
  height: 560px;
} */

.title-area {
  margin-top: 16px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #111111;
}
