.header {
  border-bottom: 1px solid rgba(17, 17, 17, 0.15);
}

.header img {
  border-radius: 50%;
  padding: 1px;
  border: 2px solid red;
}

.header h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #111111;
}
